.errMsg{
 background: rgb(214, 10, 10);
 color: rgb(255, 255, 255);
 text-align: center;
 padding: 10px 0;
 letter-spacing: 1.3px;
 font-weight: 700;
 width: 50%;
 margin: auto;
 animation: animate 2s linear infinite;
 -webkit-animation: animate 2s linear infinite;
}
  
  .successMsg{
    background: rgb(9, 158, 54);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
    font-weight: 700;
    width: 50%;
    margin: auto;
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}

@keyframes animate {
  0%{
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    -o-transform: scaleX(0.5);
}
  100%{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
  
}